<h1>Add a New Pet</h1>
<form action='/pets/new' method="POST">
    <label for="petName">Enter Pet Name: </label>
    <input type="text" name="petName" placeholder="Enter Pet Name" /><br>

    <label for="description">Enter Pet Description: </label>
    <input type="text" name="description" placeholder="Enter Pet Description" /><br>

    <label for="imgUrl">Enter a URL for the Pet's Image: </label>
    <input type="text" name="imgUrl" placeholder="Enter a URL for the Pet's Image" /><br>

    <button type="submit">Add Pet</button>
</form>