<h1>Edit Pet</h1>
{{#with foundPet}}
<form action='/pets/edit/{{petId}}' method="POST">
    <label for="petName">Enter Pet Name: </label>
    <input type="text" name="petName" placeholder="Enter Name"
        value="{{petName}}"/><br>

    <label for="description">Enter Pet Description: </label>
    <input type="text" name="description" placeholder="Enter Description"
        value="{{description}}" /><br>

    <label for="imgUrl">Enter Pet Image URL: </label>
    <input type="text" name="imgUrl" placeholder="Enter Image URL"
        value="{{imgUrl}}" /><br>

    <button type="submit">Edit Pet</button>
</form>
{{/with}}