body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: rgb(213, 236, 216);
}

a {
  color: #0051ff;
}

ul {
  list-style: none; /* Remove default bullets */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 10vh;
}

img {
  width: 225px;
  height: 300px;
  object-fit: contain;
}

.alignItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

 li {
  display: flex;
  align-items: center
 }

 #center {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
 }

 .displayInline {
  display: inline;
 }

 .center {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
 }

 #bigImage {
  width: 20%;
  height: auto;
 }

 .button1 {
  /* background-color: #3db0e6;  */
  background-color: #b8f3ff; 
  border-radius: 10px;
  border: 1px solid #554971;
  /* border: 2px solid #30e304; */
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #3db0e6; 
  border-radius: 10px;
  border: 2px solid #30e304;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}